body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: cursive;
}

/* BANDEAU */
header {
	background-color: beige;
	margin-bottom: 10px;
}

header img {
	width: 300px;
	margin: auto;
	display: block;
}

/* MENU */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

/* CONTENU */

/* Centrer */
.content {
  max-width: 1000px;
  margin: auto;
}

/* Cartes */
.cartes {
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr);
  grid-gap: 20px;
}

.carte {
  background-color: white;
}

.carte h4 {
  text-align:center;
}

.carte a {
  font-size: 13px;
  color: lightslategray;
  padding: 10px;
}


.carte img {
  object-fit: cover;
    max-height:112px;
    width: 100%;
}


/* ZOOM SUR IMAGE 
.carte img:hover {
  object-fit: fill;
  cursor:pointer;
  border-radius: 20px;
  max-height:300px;
}
*/

/* FOOTER */
footer {
  margin-top:10px;
  background-color: beige;
  height:200px;
}




/* AJOUT JAVA SCRIPT */

/* Par defaut , une carte est non affichee*/
.carte {
  display: none;
}

/* Classe a ajouter aux elements filtrés */
.show {
  display: block;
}

