body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: cursive;
}

/* BANDEAU */
header {
	background-color: beige;
	margin-bottom: 10px;
}

header img {
	width: 300px;
	margin: auto;
	display: block;
}

/* MENU */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

/* Bouton actif*/
.btn.active {
  background-color: #666;
  color: white;
}

/* CONTENU */

/* Centrer */
.content {
  max-width: 1000px;
  margin: auto;
}


.carte {
  background-color: white;
}

.carte h4 {
  text-align:center;
}

.carte a {
  font-size: 13px;
  color: lightslategray;
  background-color: white;
  padding: 10px;
}


.carte img {
  object-fit: cover;
    max-height:112px;
    width: 100%;
}

.carte img:hover {
  object-fit: fill;
  cursor:pointer;
  border-radius: 20px;
  max-height:300px;
}

/* FOOTER */
footer {
  margin-top:10px;
  background-color: beige;
  height:200px;
}




/* AJOUT JAVA SCRIPT */

/* Par defaut , une carte est non affichee*/
.carte {
  display: none;
}

/* Classe a ajouter aux elements filtrés */
.show {
  display: block;
}


/** AJOUT MODAL **/

/** MODAL */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black;
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
  background-color: bisque;
  position: fixed;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  padding: 50px;
  border-radius: 20px;
}

#content-modal h2 {
    margin: auto;
    width: 300px;
    text-align: center;
    margin-bottom: 58px;
}

#content-modal li {
  margin-bottom:10px;
}

.close-button {
  width: 30px;
  cursor:pointer;
  float: right;
}

.close-button:hover {
transform: scale(1.2);
}



/* MEDIA QUERIES */
/*MOBILE FIRST*/
.cartes {
  display: grid;
  grid-template-columns: repeat(1, [col-start] 1fr);
  grid-gap: 20px;
}

@media only screen and (min-width:414px) {
  /* tablettes */
  .cartes {
    grid-template-columns: repeat(2, [col-start] 1fr);
  }
}

@media only screen and (min-width:768px) {
  /* ordi grand écran*/
  .cartes {
    grid-template-columns: repeat(3, [col-start] 1fr);
  }
}

